.station-list {
  height: calc((100vh - 80px)/2);
  overflow: auto;
}

.station-list table {
  min-width: 900px;
  box-shadow: none;
  width: 100%;
}

.station-list table .mat-row:hover {
  cursor: pointer;
  background-color: #e6e6e68f;
}
