<div class="station-list">
  <table mat-table [dataSource]="stationList" class="mat-elevation-z8">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> Index </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i}} </td>
    </ng-container>

    <ng-container matColumnDef="idstation">
      <th mat-header-cell *matHeaderCellDef> Station(ID) </th>
      <td mat-cell *matCellDef="let element"> {{element.idstation}} </td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="coordonnees">
      <th mat-header-cell *matHeaderCellDef> Coordonnées </th>
      <td mat-cell *matCellDef="let element"> {{element.coordonnees[0]}}, {{element.coordonnees[1]}}</td>
    </ng-container>

    <ng-container matColumnDef="etat">
      <th mat-header-cell *matHeaderCellDef> Etat </th>
      <td mat-cell *matCellDef="let element"> {{element.etat}} </td>
    </ng-container>

    <ng-container matColumnDef="nombreemplacementsactuels">
      <th mat-header-cell *matHeaderCellDef> Emplacements actuels </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreemplacementsactuels}} </td>
    </ng-container>

    <ng-container matColumnDef="nombreemplacementsdisponibles">
      <th mat-header-cell *matHeaderCellDef> Emplacements actuels </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreemplacementsdisponibles}} </td>
    </ng-container>

    <ng-container matColumnDef="nombrevelosdisponibles">
      <th mat-header-cell *matHeaderCellDef> Emplacements actuels </th>
      <td mat-cell *matCellDef="let element"> {{element.nombrevelosdisponibles}} </td>
    </ng-container>

    <ng-container matColumnDef="lastupdate">
      <th mat-header-cell *matHeaderCellDef> Emplacements actuels </th>
      <td mat-cell *matCellDef="let element"> {{element.lastupdate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
